accelerate
addict
aiohttp
albumentations
alembic
av
chardet
color-matcher
colour-science
comfyui-embedded-docs
comfyui-frontend-package
comfyui-workflow-templates
deepdiff
diffusers
dill
einops
facexlib
filelock
ftfy
fvcore
gguf
gitpython
hf_transfer
huggingface_hub
imageio-ffmpeg
importlib_metadata
insightface
ipywidgets
jetson-stats
jupyter-archive
jupyterlab
kornia
matplotlib
matrix-nio
mediapipe
mss
notebook
numba
omegaconf
onnxruntime-gpu
opencv-contrib-python
opencv-python
opencv-python-headless
piexif
pillow
pixeloe
protobuf
psutil
https://github.com/nunchaku-tech/nunchaku/releases/download/v1.0.0dev20250823/nunchaku-1.0.0.dev20250823+torch2.8-cp311-cp311-linux_x86_64.whl
py-cpuinfo
pydantic
pydantic-settings
pywavelets
pygithub
pynvml
python-dateutil
pyyaml
rembg
rich
safetensors
scikit-image
scikit-learn
scipy
segment-anything
sentencepiece
soundfile
spandrel
sqlalchemy
svglib
timm
tokenizers
toml
tomli
torchsde
tqdm
transformers
transparent-background
trimesh[easy]
triton
typer
typing-extensions
ultralytics
uv
yacs
yapf
yarl
